<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211142888702-cd5dh340k0uqipkh2nsvd849od0gsphb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211142888702-cd5dh340k0uqipkh2nsvd849od0gsphb</string>
	<key>API_KEY</key>
	<string>AIzaSyAsgjALrOzW_FFWzwJQeh31aAj64my28UQ</string>
	<key>GCM_SENDER_ID</key>
	<string>211142888702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movie</string>
	<key>PROJECT_ID</key>
	<string>movie-flutter-16765</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-flutter-16765.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211142888702:ios:f2b1c4e459ab107342a9af</string>
</dict>
</plist>